@use "./base.scss";

// put your custom CSS here!

// Now starting the color palette from hue 160-185
:root {
  --hue-base: 180;
  --sat: 100%;
  --color-accent-0: hsl(345, 94%, 58%);
  --color-accent-1: hsl(var(--hue-base), var(--sat), 42%);
  --color-accent-2: hsl(calc(var(--hue-base) + 20), var(--sat), 55%);
  --color-accent-3: hsl(calc(var(--hue-base) + 80), var(--sat), 70%);
  --color-accent-4: hsl(calc(var(--hue-base) + 120), var(--sat), 42%);
  --color-accent-5: hsl(calc(var(--hue-base) + 160), var(--sat), 42%);
  --color-accent-6: hsl(calc(var(--hue-base) + 200), var(--sat), 65%);
  --tertiary: hsl(calc(var(--hue-base) + 200), var(--sat), 65%);
  --link-background-color: 51, 238, 255;
  &[data-scheme="dark"] {
    --accent-color-darker: white;
    --color-accent-0: hsl(345, 74%, 58%);
    --tertiary: hsl(calc(var(--hue-base) + 200), var(--sat), 65%);
    --sat: 80%;
  }
}

@for $i from 2 through 6 {
  h#{$i} {
    color: var(--color-accent-#{$i});
  }
}

.center h1.article-title {
  font-size: 3rem;
}

.page #quartz-body article {
  tbody,
  li,
  p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  strong {
    color: var(--color-accent-0);
  }
  blockquote {
    border-left-color: var(--color-accent-0);
  }
}

// Language selector deactivated
// [lang="de"] .lang:not(.de) {
//   display: none;
// }

#toc-content li,
#explorer-content li {
  line-height: 1.3rem;
  margin-bottom: 0.5em;
}

p.date-tagline {
  font-size: x-small;
  font-weight: bold;
  margin: 0;
  line-height: 1;
  color: var(--secondary);
  opacity: 0.7;
}
